<h3>Songs</h3>
<ul>
  {{#each songs as |song|}}
    <li>
      {{#link-to "songs.song" song}}{{song.title}}{{/link-to}}: {{format-duration song.length_in_seconds}}
    </li>
  {{/each}}
</ul>
{{#link-to "songs.new"}}Add Song{{/link-to}}

{{outlet}}
